<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<h1><%= title %></h1>
<p>Welcome to <%= title %></p>

<table>
    <tr>
        <th>
            工号
        </th>
        <th>
            理由
        </th>
    </tr>
    <% data.forEach(function (post, today) { %>
    <tr>
        <td><%= post.gh %></td>
        <td><%= post.reason %></td>
    </tr>
    <% }) %>
</table>

</body>
</html>
